* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.box {
    margin-top: 16px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    min-height: 200px;
    line-height: 200px;
}

.box1{
    background-color: rgb(29, 66, 66);
}
.box2{
    background-color:rgb(78, 58, 33);
}
.box3{
    background-color:rgb(30, 93, 72);
}

.box1:active{
    background-color: rgb(78, 58, 33);
}
.box2:active{
    background-color:rgb(30, 93, 72);
}
.box3:active{
    background-color: rgb(29, 66, 66);
}
  